/*Brian Hansen Design */

.jumbotron {
	height: 300px;
	background-image: url('https://gdurl.com/EjmKl');
	background-position: bottom left;
	background-size: 120%;
	background-image-size: 120%;
	padding: 0;
	display: flex;
    align-items: center;
}

#picture {
	background-image: url('https://gdurl.com/XYe6');
	border: #444444 solid 5px;
	background-size: 130%;
	background-position: right 50% top 15%;
	height: 15rem;
	width: 15rem;
	border-radius: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	/*transform: translateY(-130%);*/
}


.Skills {
	font-size: 30px;
	padding: 5rem;
	margin: 5rem;
	background-color: #0080FF;
	color: white;
	border-radius: .3em;
	text-align: center;
}
body {
	background-color: rgba(40, 100, 150, .1)
}

h3 {
	font-size: 15px;
	color: black;
}

.fa-bullseye:before {
	font-size: 180%;
}

.Skills .fas {
	font-size: .5em;
}

.footer {
	margin: 0rem;
	background-color: rgba(60, 60, 60, .8);
	color: white;
	text-align: center;
	padding: 1.2rem;
}
/*.Skills .fab {
	font-size: .5em;
}*/


.flexcentered {
	display: flex;
	justify-content: space-around;








/*.container {
	display: flex;
	justify-content: center;
	align-items: center;
}*/



/*#headshotimage{
	background-position: cover;
}*/

/*.container{
	width: 100%;
}*/